<% if @cart.cart_items.presence %>
  <% @cart.cart_items.each do |cart_item| %>
    <p id="id" style="display: none;"><%= cart_item.id %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="max-width">
          <div class="row">
            <div class="col-lg-4">
              <h5 class="buffer-top"><%= cart_item.item.name %></h5>
            </div>
            <div class="col-lg-2">
              <h5 class="buffer-top"><%= cart_item.item.weight %> гр.</h5>
            </div>
            <div class="col-lg-1">
              <% if cart_item.item.price %>
                <h5 class="buffer-top" id="price_cart_item_<%= cart_item.id %>"><%= cart_item.item.price %> <small><i class="fa fa-rub"></i></small></h5>
              <% else %>
                <h5 class="buffer-top" id="price_cart_item_<%= cart_item.id %>"><%= cart_item.item.stock_price %> <small><i class="fa fa-rub"></i></small></h5>
              <% end %>
            </div>
            <div class="col-lg-3">
              <%= form_for cart_item, remote: true, data: {type: :json} do |f| %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <h5><%= f.number_field :quantity, id: "quantity_field_#{cart_item.id}", class: "form-control buffer-top-15" %></h5>
                    </div>
                    <div class="col-md-6 buffer-top">
                      <%= f.button 'Сохранить', class: "btn btn-secondary btn-sm" %>
                    </div>
                  </div>
                  <p id="limit_quantity_<%= cart_item.id %>"class="show_limit_quantity_item">Осталось <%= t 'items', count: cart_item.item.quantity_item %></p>
                </div>
              <% end %>
            </div>
            <div class="col-lg-2">
              <div class="row">
                <div class="col-md-6 text-right pad-no">
                  <h5 class="buffer-top" id="subtotal_<%= cart_item.id %>"><%= cart_item.subtotal %></h5>
                </div>
                <div class="col-md-6 text-left pad-no">
                  <p class="disp-inl"><i class="fa fa-rub buffer-top-25 pad-l-5"></i></p>
                </div>
              </div>
              <p class="opac-05 text-muted pad-l-45">итог</p>
              <div id="total_quantity_item_<%= cart_item.id %>" style="opacity: 0;">
                <%= cart_item.item.quantity_item %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <%= link_to "Удалить товар", cart_item_path(cart_item), method: :delete %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
  <div class="row buffer-top">
    <div class="col-lg-6 pad-l-30">
      <h4 class="disp-inl">К оплате:</h4> <h4 class="disp-inl" id="total_price"><%= (@cart.total_price) %></h4> <i class="fa fa-rub"></i>
    </div>
    <div class="col-lg-6">
      <%= link_to "Очистить корзину", cart_path(@current_cart),method: :delete, data: {confirm: "Вы уверены?"}, class: "pull-right pad-r-15" %>
    </div>
  </div>
  <br />
  <span><p><%= link_to "Оформить заказ", new_order_path, class: "pad-l-15" %></p></span>
  <br />
<% else %>
  <h4><i class="fa fa-thumbs-down"></i> В вашей корзине пока нет товаров.</h4>
<% end %>
