<div class=" text-center buffer-both">
  <div class="log-in">
      <h3 class="log-in-header text-left">Log in</h3>

    <%= simple_form_for(resource, as: resource_name,
                        url: session_path(resource_name)) do |f| %>
        <%= render partial: 'partials/form_flash' %>
        <div class=" log-in-body">
          <span class="text-left">
            <%= f.input :email, required: false, autofocus: true %>
            <%= f.input :password, required: false %>
          </span>
        </div><hr />

        <div class="container">
          <div class="row">
            <div class="col-md-6 form-actions log-in-btm">
              <%= f.button :submit, "Log in" %>
            </div>
            <div class="col-md-6 log-in-footer">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
