<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <span><p class="pull-right"><%= link_to 'Добавить товар',
                                new_category_item_path(@category) %></p></span>
    </div>

    <table class="table table-hover text-center">
      <thead class="bg-color text-white">
        <tr>
          <th scope="col">Фото</th>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col">Вес</th>
          <th scope="col">Цена</th>
          <th scope="col">Кол-во</th>
          <th scope="col">Приход/Расход</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% @category.items.each do |item| %>
        <% if item.persisted? %>
          <tbody>
            <tr>
              <th scope="row"><%= image_tag item_picture_thumb(item) %></th>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td><%= item.weight %></td>
              <% if item.price %>
                <td><%= item.price %></td>
              <% else %>
                <td style="color: red;"><%= item.stock_price %></td>
              <% end %>
              <td><%= item.quantity_item %></td>
              <td>
                <%= form_tag  update_quantity_item_path(item), method: :put do %>
                  <div> <%= number_field_tag 'delta', 0, style: "width: 100px;" %></div>
                  <div>
                    <%= button_tag(type: "submite", class: "btn-btn-default pointer") do  %>
                      <div class="pointer">
                        <i class="fa fa-plus"></i> <i class="fa fa-minus"></i>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </td>
              <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_item_path(item) %></td>
              <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, item_path(item.id), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
