<% @category.items.each do |item| %>
  <div class="card-deck w-25 p-2 pull-left">
    <% if item.persisted? %>
      <div class="card">
        <%= image_tag(item_picture(item), class: "card-img-top") %>
        <div class="card-footer bg-color">
          <div class="container">
            <div class="row">
              <h4><%= link_to  item.name, item_path(item) %></h4>
              <div class="col-md-6 pad-no light-blue">
                <h5><%= item.weight %> гр.</h5>
              </div>
              <div class="col-md-6 light-blue">
                <% if item.price %>
                  <h5><%= item.price %> <small><i class="fa fa-rub"></i></small></h5>
                <% else %>
                  <h5><%= item.stock_price %> <small><i class="fa fa-rub"></i></small></h5>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
