<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <table class="table">
        <ul class="lead">
          <li><%= image_tag item_picture(@item) %> </li>
          <li class="buffer-top"><%= @item.description %></li>
          <% if @item.real_item == true %>
            <li class="buffer-top">
              <%= link_to 'добавить в корзину', cart_items_path(item_id: @item.id), class: "btn btn-primary", id: 'add_to_cart', method: :post, remote: true, data: {toggle: "modal", target: "#myModal"} %>
            </li>
          <% else %>
              <li></li>
          <% end %>
        </ul>
      </table>
    </div>
    <div>
      <table class="table">
        <ul class="lead">
          <h4>
            <% if @item.real_item == true %>
              <li>Товар есть в наличии  <i class="fa fa-check-square-o pad-l-5" aria-hidden="true" style="color: green;"></i></li>
            <% else %>
              <li>Товара нет в наличии  <i class="fa fa-square-o pad-l-5" aria-hidden="true"></i></li>
            <% end %>
          </h4>
          <li class="buffer-top">Вес: <%= @item.weight %> гр.</li>
          <li class="buffer-top">
            <% if @item.price %>
              Цена: <%= @item.price %> <small><i class="fa fa-rub"></i></small>
            <% else %>
              Цена по акции: <%= @item.stock_price %> <small><i class="fa fa-rub"></i></small>
            <% end %>
          </li>
        </ul>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<%= render partial: 'items/modal' %>
