<div class="marquee">
  <span>
    <% @home_items.each do |item| %>
      <% if item.picture? %>
        <%= image_tag(item.picture) %>
      <% else %>
        <%= image_tag("logo.jpg") %>
      <% end %>
    <% end %>
  </span>
</div>

<div class="container buffer-top">
  <div class="row text-center">
    <div class="col-lg-6">
      <h2>Коротко о нас</h2>
      <p class="text-left">
        Компания Конфетико на рынке уже 17 лет. Мы работаем с множеством поставщиков
        из россии и ближнего зарубежья, такими как: Мармелад на расхват, Карамелита,
        Шок-шоколад и др. Товары доставляем в срок и без промедлений.
      </p>
      <p><em>Мы работаем для вас!</em></p>
      <div>
        <%= image_tag("business-woman.jpg") %>
      </div>
      <p><small>Генеральный директор</small></p>
      <p>Сладкая Мармелада Барбарисовна</p>
    </div>
    <div class="col-lg-6">
      <h2>Наши новые товары</h2>
      <div class="card-deck">
        <% @items.each do |item| %>
          <div class="card bg-color text-white">
            <% if item.picture? %>
              <%= image_tag(item.picture, class: "card-img-top img-md") %>
            <% else %>
              <%= image_tag("logo.jpg", class: "card-img-top img-md") %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
            </div>
            <div class="card-footer">
              <p><%= link_to 'Подробнее', item, class: "btn btn-primary" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
