<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Confetico" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <%= render partial: 'layouts/menu/nav' %>

    <div class="max-width page-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-lg-3 pad-no">
            <div class="list-group">
              <h4 class="list-group-item"><b>Категории</b></h4>
              <div class="list-group">
                <% @categories.each do |category| %>
                  <h5><%= link_to category.product_category, category,
                  class: "list-group-item list-group-item-action" %></h5>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-lg-9">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'layouts/menu/footer' %>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
