<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Confetico" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
  </head>
    <body>
    <% if current_admin %>
      <nav class="navbar navbar-expand-lg bg-color">
        <h4 class="navbar-brand text-white">Админ</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <div class="col-lg-6 text-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <%= link_to 'Главная', admin_index_path, class: "nav-link" %><span class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                  <%= link_to 'Категории', categories_path, class: "nav-link" %>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <%= render 'admin/menu/login_admins' %>
          </div>
        </div>
      </nav>

      <div class="max-width page-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-lg-3 pad-no">
              <div class="list-group">
                <h4 class="list-group-item">Категории</h4>
                <div class="list-group">
                  <% @categories.each do |category| %>
                    <%= link_to category.product_category, category,
                    class: "list-group-item list-group-item-action" %>
                  <% end %>
                </div>
                <p class="text-left"><%= link_to 'Создать категорию', new_category_url,
                class: 'btn btn-primary buffer-top' %></p>
              </div>
            </div>

  <% end %>
            <%= yield %>
          </div>
        </div>
      </div>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
